body {
    background-image: url("./assets/liquid-cheese.svg");
    background-size: contain; /* Adjust as needed (contain, cover, etc.) */
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw; /* Adjust the width as needed */
  height: 100vh; /* Adjust the height as needed */
  margin: 0px;
  padding: 0px;
}